body {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: black;
}

#output {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}

img {
  height: 200px;
}
